<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medya Yönetimi</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="/node_modules/chart.js/dist/chart.umd.js"></script>

    <link rel='icon' href='/src/assets/img/favicon.ico' type='image/x-icon' sizes="16x16" />
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/css/mediaManagement.css" rel="stylesheet">
    <link href="../assets/css/dashboard.css" rel="stylesheet">
    <link href="../assets/css/common.css" rel="stylesheet">
</head>
<body>
    <header class="p-4" id="navbar">
        <div class="d-flex justify-content-between">
          <img src="../assets/img/mediaManagement/rubuplus-logo-dark.svg" alt="Logo" class=""><br>
          <button class="btn border-0" data-bs-toggle="modal" data-bs-target="#shutdownModal" id="shutdownBtn">
            <img src="../assets/img/mediaManagement/video-square-dark.svg" alt="Directbox Send" class="me-2">
        </button>
        </div>
    </header>
    
    <div class="row d-flex g-0">
      <div class="d-flex flex-column justify-content-between flex-shrink-0" style="width: 320px;" id="sidebar">
        <ul class="nav nav-pills flex-column p-4">
          <li class="nav-item">
            <div class="input-group">
                <span class="input-group-addon align-items-center" id="search-addon">
                    <img id="sidebar-svg" src="../assets/img/mediaManagement/search.svg" alt="Search" class="me-2">
                </span>
                <input class="form-control border-0" type="search" placeholder="Arama Yap" aria-label="Search" id="search-form">
            </div>  
          </li>
          <li>
            <a class="btn sidebar-button mt-3 text-start d-flex align-items-middle" type="button" href="dashboard.html">
                <img id="sidebar-svg" src="../assets/img/mediaManagement/dashboard.svg" alt="Dashboard" class="me-2">
                <span class="">Dashboard</span>
            </a>
          </li>
          <li>
            <a class="btn sidebar-button mt-3 text-start d-flex align-items-middle" type="button" href="./mediaManagement.html">
                <img id="sidebar-svg" src="../assets/img/mediaManagement/media-management.svg" alt="Media Management" class="me-2">
                <span class="">Medya Yönetimi</span>
            </a>
          </li>
          <li style="display: none;">
            <button class="btn sidebar-button mt-3 text-start d-flex align-items-middle" type="button">
                <img id="sidebar-svg" src="../assets/img/mediaManagement/system-info.svg" alt="System Info" class="me-2">
                <span class="">Sistem Bilgisi</span>
            </button>
          </li>
          <li style="display: none;">
            <button class="btn sidebar-button mt-3 text-start d-flex align-items-middle" type="button">
                <img id="sidebar-svg" src="../assets/img/mediaManagement/memory-management.svg" alt="Memory Management" class="me-2">
                <span class="">Bellek Yönetimi</span>
            </button>
          </li>
          <li>
            <a class="btn sidebar-button mt-3 text-start d-flex align-items-middle" type="button" href="./fileManagement.html">
                <img id="sidebar-svg" src="../assets/img/mediaManagement/file-management.svg" alt="File Management" class="me-2">
                <span class="">Dosya Yönetimi</span>
            </a>
          </li>
        </ul>

        <div>
          <div aria-live="polite" aria-atomic="true" class="  position-relative" style="margin-bottom: 84px;">
              <div class="toast-container p-3" id="toastPlacement" data-original-class="toast-container">
              <div class="toast align-items-center border-0" role="alert" aria-live="assertive" aria-atomic="true" style="background: #fff3cd;">
                  <div class="d-flex">
                      <div class="toast-body">
                          <!-- Text -->
                      </div>
                  <button type="button" class="btn-close btn-close-dark me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                  </div>
              </div>
              </div>
          </div>
          <div class="d-flex justify-content-start p-4">
              <button class="btn border-0" data-bs-toggle="modal" data-bs-target="#restartModal" id="restartBtn">
                  <img src="../assets/img/common/logout.svg" alt="Directbox Send" class="me-2">
              </button>
              <button class="btn border-0" data-bs-toggle="modal" data-bs-target="#logoutModal" id="logoutBtn">
                  <img src="../assets/img/mediaManagement/video-square-dark.svg" alt="Directbox Send" class="me-2">
              </button>
          </div>
      </div>
      </div>
      <div class="col px-0" id="main-content-div">
            <div class="container-fluid py-4 mx-0">
              <div class="col-md-12 pt-4 px-4 rounded mb-4">
                <div class="d-flex flex-column justify-content-start">
                    <div class="d-flex mb-3 align-items-center">
                        <h1 id="companyName" class="text me-2 mb-0" style="font-size: 26px; font-weight: 600;">Ankara</h1>
                          <!-- edit button -->
                          <button id="editButton" class="btn btn-primary rounded p-1" type="button" data-bs-toggle="modal" data-bs-target="#editModal" style="background-color: #FFA800; border: none; width: 20px; height: 20px; padding: 0px;">
                            <img src="../assets/img/dashboard/edit.svg" alt="Edit" style="width: 9px; height: 9px;">
                          </button>
                    </div>
                    <div class="d-flex justify-content-between">
                      <h1 class="text mb-0" style="font-size: 21px; font-weight: 300;">Ekran Yönetim Sistemi</h1>
                      <h1 id="time" class="text mb-0" style="font-size: 18px; font-weight: 400; color: #B1B5C3"></h1>
                    </div>
                </div>
            </div>

            <hr class="mb-4" style="color: #E6E8EC; height: 1px; border: solid 1px #e2e4e7;">
            <div class="row px-4 mb-3" style="height: 53%;">
              <!-- CPU -->
              <div class="col bg-white p-3 me-4 justify-content-between flex-column d-flex" id="cpu-usage">
                <div class="d-flex justify-content-between">
                  <div class="d-flex flex-column mt-2">
                    <h1 class="text mb-2" style="font-size: 20px; font-weight: 400;"><strong>CPU</strong> İstatistikleri</h1>
                   
                    <div class="d-flex">
                      <h1 id="cpuUsagePercentage" class="text text-white py-2 px-3 m-0 rounded-2 me-1" style="font-size: 12px; font-weight: 500; background-color: #05AF07;">Percentage</h1>
                      <div id="cpuHeatDiv" class="d-flex py-2 px-2 m-0 rounded-2 rounded">
                        <span>
                          <img id="cpuThermometer" src="../assets/img/dashboard/thermometer.svg" alt="CPU" class="me-2">
                        </span>
                        <h1 id="cpuHeat" class="text mb-0" style="font-size: 12px; font-weight: 500;"></h1>
                      </div>
                    </div>
                  </div>
                  <span>
                    <img src="../assets/img/dashboard/chip.svg" alt="CPU" class="me-2">
                  </span>
                </div>
                <div class="d-flex justify-content-center my-3" style="position: relative; width: 100%; height: 300px">
                  <canvas id="cpuDonut"></canvas>
                </div>
                <div id="cpuAlert" class="d-flex justify-content-center p-3 rounded" style="background-color: #FF222208;">
                  <span>
                    <img src="../assets/img/dashboard/warning-red.svg" alt="Warning" class="me-2">
                  </span>
                  <h1 id="cpuAlertText" class="text text-danger mb-0" style="font-size: 16px; font-weight: 500;">CPU Sıcaklığı Yüksek</h1>
                </div>
              </div>
              <!-- MEMORY -->
              <div class="col d-flex flex-column px-0 me-4 ">
                <div class="col bg-white p-3 rounded d-flex flex-column justify-content-between" id="ram-usage">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column mt-2">
                      <h1 class="text mb-2" style="font-size: 20px; font-weight: 400;"><strong>RAM</strong> İstatistikleri</h1>
                     
                      <div class="d-flex">
                        <h1 id="memoryUsagePercentage" class="text text-white py-2 px-3 m-0 rounded-2 me-1" style="font-size: 12px; font-weight: 500; background-color: #B82FE8;">Percentage</h1>                   
                      </div>
                      
                    </div>
                    <span>
                      <img src="../assets/img/dashboard/ram.svg" alt="CPU" class="me-2" style="width: 27px; height: 27px;">
                    </span>
                  </div>
                  <div class="d-flex justify-content-center my-3" style="position: relative; width: 100%; height: 300px;">
                    <canvas id="memoryDonut"></canvas>
                  </div>
                  <div id="memoryAlert" class="d-flex justify-content-center p-3 rounded" style="visibility: hidden; background-color: #FF222208;">
                    <span>
                      <img src="../assets/img/dashboard/warning-red.svg" alt="Warning" class="me-2">
                    </span>
                    <h1 id="memoryAlertText" class="text text-danger mb-0" style="font-size: 16px; font-weight: 500;"></h1>
                  </div>
                </div>
              </div>
              <!-- DISK --> 
              <div class="col bg-white p-3 rounded d-flex flex-column justify-content-between" id="disk-usage">
                <div class="d-flex justify-content-between">
                  <div class="d-flex flex-column mt-2">
                    <h1 class="text mb-2" style="font-size: 20px; font-weight: 400;"><strong>HDD</strong> İstatistikleri</h1>
                   
                    <div class="d-flex">
                      <h1 id="diskUsagePercentage" class="text text-white py-2 px-3 m-0 rounded-2 me-1" style="font-size: 12px; font-weight: 500; background-color: #04A3DA;">Percentage</h1>                   
                    </div>
                  </div>
                  <span>
                    <img src="../assets/img/dashboard/hdd.svg" alt="CPU" class="me-2">
                  </span>
                </div>
                <div class="d-flex justify-content-center my-3" style="position: relative; width: 100%; height: 300px;">
                  <canvas id="diskDonut"></canvas>
                </div>
                <div id="diskAlert" class="d-flex justify-content-center p-3 rounded" style="background-color: #FF222208;">
                  <span>
                    <img src="../assets/img/dashboard/warning-red.svg" alt="Warning" class="me-2">
                  </span>
                  <!-- Disk is getting full -->
                  <h1 id="memoryAlertText" class="text text-danger mb-0" style="font-size: 16px; font-weight: 500;">Disk Dolmak Üzere</h1>
                </div>
              </div>
            </div>
            <div class="row px-4">
              <div class="bg-white p-3 me-4 rounded" id="cpu-usage" style="width: 62%;">
                <div class="col-md-12 bg-white rounded mb-4 py-1" id="fileManagementFileList">
                  <h1 class="text mb-2" style="font-size: 20px; font-weight: 400;">Son Eklenenler</h1>
                  <hr class="mb-4" style="color: #E6E8EC; height: 1px; border: solid 1px #e2e4e7;">
                  <table class="table table-borderless" id="mediaTable" style="table-layout: fixed;">
                      
                      <tbody id="folder-tbody"></tbody>
                  </table>
                </div>    

              </div>
              <div class="bg-white p-3 rounded" id="cpu-usage" style="width: 36%;">
                <h1 class="text mb-2" style="font-size: 20px; font-weight: 400;">Son Girişler</h1>
                <hr class="mb-4" style="color: #E6E8EC; height: 1px; border: solid 1px #e2e4e7;">
                <ul id="lastVisitList" class="list-group">

                </ul>
              </div>
              
            </div>  
          </div>
      </div>
    </div>
    <script src="../assets/js/dashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>