<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medya Yönetimi</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    
    <link rel='icon' href='/src/assets/img/favicon.ico' type='image/x-icon' sizes="16x16" />
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/css/mediaManagement.css" rel="stylesheet">
    <link href="../assets/css/common.css" rel="stylesheet">
</head>
<body>
    <header class="p-4" id="navbar">
        <div class="d-flex justify-content-between">
          <img src="../assets/img/mediaManagement/rubuplus-logo-dark.svg" alt="Logo" class=""><br>
        </div>
    </header>
    
    <div class="row d-flex g-0">
        <div class="d-flex flex-column flex-shrink-0" style="width: 320px;" id="sidebar">
            <ul class="nav nav-pills flex-column p-4">
              <li class="nav-item">
                <div class="input-group w-100">
                    <span class="input-group-addon align-items-center d-flex" id="search-addon">
                        <img src="../assets/img/mediaManagement/search.svg" alt="Search" class="me-2">
                    </span>
                    <input class="form-control border-0" type="search" placeholder="Arama Yap" aria-label="Search" id="search-form">
                </div>     
              </li>
              <li>
                <a class="btn sidebar-button mt-3 w-100 text-start d-flex align-items-middle" type="button" href="dashboard.html"  style="background-color: #04A3DA; color: white;">
                    <img src="../assets/img/mediaManagement/dashboard.svg" alt="Dashboard" class="me-2" style="filter: invert(100%);">
                    Dashboard
                </a>
              </li>
              <li>
                <a class="btn sidebar-button mt-3 w-100 text-start d-flex align-items-middle" type="button" href="./mediaManagement.html">
                    <img src="../assets/img/mediaManagement/media-management.svg" alt="Media Management" class="me-2">
                    Medya Yönetimi
                </a>
              </li>
              <li style="display: none;">
                <button class="btn sidebar-button mt-3 w-100 text-start d-flex align-items-middle" type="button">
                    <img src="../assets/img/mediaManagement/system-info.svg" alt="System Info" class="me-2">
                    Sistem Bilgisi
                </button>
              </li>
              <li style="display: none;">
                <button class="btn sidebar-button mt-3 w-100 text-start d-flex align-items-middle" type="button">
                    <img src="../assets/img/mediaManagement/memory-management.svg" alt="Memory Management" class="me-2">
                    Bellek Yönetimi
                </button>
              </li>
              <li>
                <a class="btn sidebar-button mt-3 w-100 text-start d-flex align-items-middle" type="button" href="./fileManagement.html">
                    <img src="../assets/img/mediaManagement/file-management.svg" alt="File Management" class="me-2">
                    Dosya Yönetimi
                </a>
              </li>
            </ul>
        </div>
        <div class="col-md px-0" id="main-content-div">
            <div class="row d-flex flex-column px-3 pt-3 mx-0" style="height: 100vh;">
                <div class="col-md-12 p-4 bg-white rounded mb-3">
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>