<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş</title>
    <link rel='icon' href='/src/assets/img/favicon.ico' type='image/x-icon' sizes="16x16" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="../assets/css/login.css" rel="stylesheet">
    <link href="../assets/css/common.css" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <div class="login-left">
          <div class="col left-side d-flex flex-column justify-content-between">
            <div class="image-container w-100 p-5">
              <img src="../assets/img/login/rubuplus-logo.svg" alt="Logo" class="mb-5"><br>
              <div class="mt-4">
                <span class="text text-uppercase" style="font-size: 38px; font-weight: 300; font-family: 'Sofia-Pro-ExtraLight'; line-height: 52px">Dijital İçerik</span><br>
                <span class="text text-uppercase" style="font-size: 38px; font-weight: 900; font-family: 'Sofia-Pro-Bold'; line-height: 42px"> Medya Yönetim Platformu</span><br>
                  
              </div>
            </div>
            <div class="image-container w-100">
              <img src="../assets/img/login/AdobeStock_220567648.png" alt="Logo" class="img-fluid w-100">
            </div>
          </div>
        </div>
        <div class="login-middle d-flex justify-content-center align-items-middle bg-light" style="height: 100vh;">
          <div class="w-100 d-flex justify-content-end">
            <img src="../assets/img/login/plus.svg" alt="Logo" width="84" style="margin-left: -42px; z-index: 1;">
          </div>
        </div>
        <div class="login-right bg-light">
            <div style="width: 420px;">
                <div class="mb-2">
                  <span style="font-weight: 800; font-size: 32px; color: #25324B">Üye Girişi </span>
                  <span style="font-weight: 400; font-size: 32px; color: #25324B">Yapın</span>
                </div>
                <p style="font-weight: 400; color: #a3a3a3; font-size: 14px; font-family: 'Sofia-Pro-Light', sans-serif !important">Sisteme giriş için e-posta adresinizi giriniz.</p>
                <form method="post">
                    <div class="input-group mb-3" id="emailInputGroup">
                      <span class="input-group-addon bg-white align-items-center d-flex" id="emailAddon">
                        <img src="../assets/img/login/user.svg" alt="User Logo" width="24" />
                      </span>
                      <input type="email" class="form-control" style="font-size: 14px;" id="inputEmail" aria-describedby="emailHelp" placeholder="E-Posta Adresi Giriniz"/>
                    </div>
                    <div class="input-group mb-3" id="passwordInputGroup">
                      <span class="input-group-addon bg-white align-items-center d-flex" id="passwordAddon">
                        <img src="../assets/img/login/smart-lock.svg" alt="User Logo" width="24" />
                      </span>
                      <input type="password" class="form-control" id="inputPassword" placeholder="Şifre Giriniz"/>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 border-0" style="height: 60px; background-color: #04A3DA; font-weight: 600;">Giriş Yap</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>